[submodule "projects/flask-backend-server"]
	path = projects/flask-backend-server
	url = https://github.com/Kazaz-Or/flask-backend-server
[submodule "projects/fastapi-backend-server"]
	path = projects/fastapi-backend-server
	url = https://github.com/Kazaz-Or/fastapi-backend-restapi
[submodule "projects/projects/django-backend-server"]
	path = projects/projects/django-backend-server
	url = https://github.com/Kazaz-Or/django-backend-server
